.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.zoom-enter-active,
.zoom-leave-active {
  transition: opacity .3s, transform .3s;
}

.zoom-enter,
.zoom-leave-active {
  opacity: 0;
  transform: scale(.7);
}

/* Hand */

.hand-enter-active,
.hand-leave-active {
  transition: opacity .5s;
}

.hand-enter,
.hand-leave-active {
  opacity: 0;
}

.hand-enter-active .wrapper,
.hand-leave-active .wrapper {
  transition: transform .8s cubic-bezier(.08,.74,.34,1);
  transform-origin: bottom center;
}

.hand-enter .wrapper,
.hand-leave-active .wrapper {
  transform: rotateX(90deg);
}

.hand-enter-active .card,
.hand-leave-active .card {
  transition: margin .8s cubic-bezier(.08,.74,.34,1);
}

.hand-enter .card,
.hand-leave-active .card {
  margin: 0 -200px;
}

/* Card */

.card {
  transition: all .3s;
}

.card-move {
  transition: all .5s cubic-bezier(.08,.74,.34,1) !important;
}

.card-enter-active {
  transition: opacity .7s, transform .7s cubic-bezier(.08,.74,.34,1) !important;
}

.card-enter {
  opacity: 0;
  transform: scale(.8) translateX(100px);
}

.card-leave-active {
  transition: opacity .3s .5s, transform .5s cubic-bezier(.08,.74,.34,1), border .8s, margin .8s !important;
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

.card-leave-active {
  opacity: 0;
  transform: scale(1.5) translateY(-200px);
  border: solid 6px white;
}
